.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0;
  margin: 1rem 0;
}

li {
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

li:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Opcional: añade una sombra para mejorar el efecto */
}

li > img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: auto; /* Empuja la imagen hacia abajo */
}

li > h3 {
  margin: 0.25 rem;
}

li > p {
  margin: 0.25 rem;
}
